## System Information
Hostname: {{ ansible_hostname }}
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}

{% if install_mssql_tools | bool %}
## MSSQL Tools
Installation Status: {{ "Installed" if mssql_tools_install is defined and mssql_tools_install.changed else "Already installed or failed" }}
{{ mssql_tools_version_check.stdout if mssql_tools_version_check is defined else "Details not available" }}
{% endif %}

{% if install_postgresql | bool %}
## PostgreSQL {{ postgresql_version }}
Installation Status: {{ "Installed" if pg_install is defined and pg_install.changed else "Already installed or failed" }}
Database Initialization: {{ "Completed" if pg_init_db is defined and pg_init_db.changed else "Already initialized or skipped" }}
Service Enabled: {{ "Yes" if pg_enable_service is defined and pg_enable_service.changed else "Already enabled or skipped" }}
Service Started: {{ "Yes" if pg_start_service is defined and pg_start_service.changed else "Already running or skipped" }}

{{ pg_details.stdout if pg_details is defined else "Details not available" }}
{% endif %}