Installation Report Generated on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}
======================================================================================

{% for package in packages %}
Package: {{ package.name }}
-----------------------
{% if hostvars[inventory_hostname]['pkg_' + package.name + '_installed'] is defined %}
Installation Status: {{ hostvars[inventory_hostname]['pkg_' + package.name + '_installed'] }}
{% else %}
Installation Status: Unknown
{% endif %}

{% if hostvars[inventory_hostname]['pkg_' + package.name + '_version'] is defined %}
Version Information: {{ hostvars[inventory_hostname]['pkg_' + package.name + '_version'] }}
{% else %}
Version Information: Not available
{% endif %}

{% endfor %}